@font-face {
    font-family: 'Besom';
    src: url('font/Besom-free-font.ttf');
    font-weight: normal;
    font-style: normal;
}

html, body, .main-container, .about-container, .wrap {
    width: 100%;
    height: 100%;
    margin: 0;
    color: #303030;
}

body {
    background-color: #ffffff;
}

ul {
    list-style: none;
}

ul li {
    display: inline-block;
}

.alert, #social{
    width:  100%;
    display:    none;
    height: 50px;
    text-align: center;
}

.alert{
    position:   absolute;
    z-index:    1000000000;
    color:  #FFFFFF;
    font-size:  1.2em;
    padding-top:    10px;
}

.error  {
    background-color: rgba(181, 46, 25, 0.70);
}

.success{
    background-color: rgba(105, 185, 112, 0.82);
}

.wrap {
    position: relative;
    z-index: 0;
    margin: 0 auto 0 auto;
    overflow: hidden;
}

#social {
    background-color: #f5f5f5;
}

#social ul {
    padding-top: 10px;
}

.cursor {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#social li {
    color: #444;
    margin-right: 10px;
}

#social li a {
    color: #6d6d6d;
    text-decoration: none;
}

#social li a:hover {
    color: #444;
}

.platform {
    padding-left: 5px;
}

.main, .about-container {
    display: none; /** Hide until load screen is finished **/
}

.grey{
    color: #777777;
}

.caption {
    width: 100%;
    height: 115px;
    color: #999999;
    font-size: 1.35em;
    text-align: right;
    margin-bottom: 3%;
}

.main-nav {
    height: 100%;
    width: 100%;
    overflow: hidden;
    margin-top: 2%;
}

.about, .portfolio, .contact {
    margin-top: 1%;
    background: #f5f5f5;
    color: #444;
    height: 215px;
    width: 215px;
    border-radius: 8px;
    display: none;
    align-items: center;
    justify-content: center;
    box-sizing: content-box;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.pulsing:hover .icon {
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.pulsing:hover .label {
    border-bottom: 2px solid #444;
    padding-bottom: 3px;
}

.pulsing:hover {
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

.main-nav ul {
    line-height: 0em;
    list-style-type: none;
}

.main-nav ul li {
    padding: 3px;
    text-align: center;
    display: block;
}

.label {
    font-size: 1.1em;
}

.heading {
    font-size: 1.7em;
    font-weight:    600;
    color:  #444;
    margin-bottom:  0;
    padding-bottom: 5px;
}

#about-content, #work-content, #contact-content {
    color: white;
    display: none;
    font-size: 1.2em;
    padding:    5%;
    box-sizing: border-box;
    width:  100%;
    height: 100%;
}

#project{
    border-radius: 8px;
    background-color: rgba(0, 0, 255, 0);
    width:  100%;
    height: 100%;
}

#contact-content img{
    margin-bottom:  15%;
}

#contact-me input,
#contact-me textarea{
    color:#444;
    background:#FFFFFF;
    border:none;
    border-radius: 0px 4px 4px 4px;
    display:block;
    font-size:0.90em;
    margin-bottom:  3%;
}

#contact-me textarea{
    min-height: 110px;
}

#contact-me input[type='submit']{
    border-radius: 4px 4px 4px 4px;
    background: #555;
    color:  #fff;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

#contact-me input[type='submit']:hover{
    zoom: 1;
    filter: alpha(opacity=50);
    opacity: 0.5;
}

#contact-me input:focus, textarea:focus {
    box-shadow: 0 1px 1px 0px rgb(119, 119, 119);
}

.icon-addon{
    border-radius:  4px 4px 0px 0px;
    color: #444;
    float:left;
    padding:0px 8px 0px 8px;
    margin-top: 2%;
    width:8%;
    background:#FFFFFF;
    text-align:center;
}

.about-container {
    position: absolute;
    background: #3c98db;
    z-index: 1000;
}


.half {
    float: left;
    width: 48%;
    margin-bottom: 1em;
}

.right { width: 50%; }

.left {
    margin-right: 2%;
}


@-webkit-keyframes pulse {
    25% {
        -webkit-transform: scale(1.2);
        transform: scale(1.2);
    }
    75% {
        -webkit-transform: scale(0.8);
        transform: scale(0.8);
    }
}

@keyframes pulse {
    25% {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        transform: scale(1.05);
    }
    75% {
        -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
        transform: scale(0.9);
    }
}

@media screen and (max-width: 550px) {
    .wrap{
        display:    none;
    }

    .oops{
        color: #444444;
        font-size:  1.3em;
        font-weight:   600;
        display:    flex;
        background-color: rgba(243, 255, 109, 0.69);
    }
}

@-moz-document url-prefix() {
    #about-content, #work-content, #contact-content {
        padding-top:    12%;
    }
}








