/**
**Stylesheet purpose for main loader page.
**/
.introduce, .keyboard{
    width:  100%;
    height: 215px;
}

.introduce{
    margin-top: 10%;
    display:    flex;
    text-align: center;
    height: 200px;
    justify-content: center;
    align-items:    center;
}

.oops, .loader, .flex{
    width: 100%;
    height: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

.oops{
    display:    none;
}

.loader{
    text-align: center;
    color: #999999;
    font-size: 1.4em;
    background-color:   #FFFFFF;
    display:    flex;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d5d5d5;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d5d5d5;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d5d5d5;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d5d5d5;
}

.introduce form{
    border: none;
}

.introduce form textarea{
    resize:none;
}

.introduce form input[type="text"],
.introduce form textarea,
.introduce form select
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    border: none;
    height: 70px;
    color: #444;
    /*border-bottom: 1px solid #333638;*/
    background: transparent;
    border-radius:  0px;
    font-size: 4.0rem;
    line-height: 1.2;
    letter-spacing: -.1rem;
}


/* Firefox old*/
@-moz-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* IE */
@-ms-keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
/* Opera and prob css3 final iteration */
@keyframes blink {
    0% {
        opacity:1;
    }
    50% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
.keyboard-prompt {
    -moz-animation: blink normal 2s infinite ease-in-out; /* Firefox */
    -webkit-animation: blink normal 2s infinite ease-in-out; /* Webkit */
    -ms-animation: blink normal 2s infinite ease-in-out; /* IE */
    animation: blink normal 2s infinite ease-in-out; /* Opera and prob css3 final iteration */
}

.on-exit {
    display: none;
    height: 4px;
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #ddd;
}
.on-exit:before{
    display: block;
    position: absolute;
    content: "";
    left: -200px;
    width: 200px;
    height: 4px;
    background-color: #2980b9;
    animation: loading 2s linear infinite;
}

@keyframes loading {
    from {left: -200px; width: 30%;}
    50% {width: 30%;}
    70% {width: 70%;}
    80% { left: 50%;}
    95% {left: 120%;}
    to {left: 100%;}
}
